body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("frost.jpg");

}

h3 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

h1 {
  color: snow;
  text-align: center;
}

p {
  color: #cfdff9;

}



/* a {
  color: #00B7FF;
} */

