body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("frost.jpg");
}

h4 {
  color: whitesmoke;
  font-size: 14px;
}

h3 {
  color: whitesmoke;
  font-size: 21px;

}

h2 {
  color: whitesmoke;
}

h1 {
  color: snow;
}

p {
  color: #cfdff9;
}

.wrapper {
  position: absolute;
  left: 40%;
  margin-left: -150px;
}

.wrapper p {
  color: #cfdff9;
  font-size: 20px;
}

.home-subtitle {
  padding-bottom: 25px;
}

.p-select {
  padding-bottom: 10px;
}

.select-commodity {
  padding: 10px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(73, 73, 73);  
}

.select-commodity-choices {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-content: left;
}

.card-action {
  border: 2px solid rgb(252, 155, 50);
  background: rgb(239, 124, 0);
  border-radius: 10px;
  padding: 20px;
}

.space {
  padding-bottom: 15px;
}

.nav-bar {
  background-color:#000628;
  overflow: hidden;  
  width: 100%; 
}

.nav-bar a {
  float: right;
  color: #f4f7f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  color: #c9d8ff;
}

.nav-bar a.active {
  font-style: bold;
  color: #cfdff9;
}




