html{
    height: 100%;
}

body {
  padding: 50px;
  height: 100%;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("frost.jpg");
}

h4 {
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

h1 {
  color: snow;
}

p {
  color: #cfdff9;
}

.wrapper {
  position: absolute;
  left: 40%;
  margin-left: -150px;
}

.home-subtitle {
  padding-bottom: 25px;
}

.p-select {
  padding-bottom: 10px;
}

.select-commodity {
  padding: 10px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(73, 73, 73);
}

.select-commodity-choices {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-content: left;
}

.card-action {
  border: 2px solid rgb(252, 155, 50);
  background: rgb(239, 124, 0);
  border-radius: 10px;
  padding: 20px;
}


.space {
  padding-bottom: 15px;
}

/*  For chart layout */
/* Control the left side */
.left {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #000020;
}
/* Control the right side */
.right {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #efefef;
}
/* If you want the content centred horizontally and vertically */
