extends layout

block content

  div.container-fluid
  a.btn.btn-primary(href="../") Home


  h3 Asset Investment Platform <i>powered by</i> Sentiment Analysis

    br
    br

    div.wrapper
        h1.home-subtitle Coffee

        div.card-action
          div.card-body
            h3.card-title World Map
            p.card-text World Map visualisation of coffee's statistics
            a.btn.btn-secondary(href="/coffee/worldmap") View

        div.space

        div.card-action
          div.card-body
            h3.card-title Articles
            p.card-text Latest news articles of the coffee industry
            a.btn.btn-secondary(href="/coffee/articles") View

        div.space

        div.card-action
          div.card-body
            h3.card-title Sentiment Analysis
            p.card-text Stock chart representing change in sentiment over time
            a.btn.btn-secondary(href="/coffee/sentimentanalysis") View
        br
        br
