extends layout

block content

  div.container-fluid


  h3 Asset Investment Platform <i>powered by</i> Sentiment Analysis

  br
  br
  br
  br

  div.wrapper
    h1.home-subtitle Be Smarter with Money

    p.p-select Select commodity to invest in

    div.dropdown
      a.btn.btn-secondary.dropdown-toggle#dropdownMenuButton.select-commodity(type="button" data-toggle="dropdown") Select
        b.caret
      ul.dropdown-menu
        li: a.dropdown-item.select-commodity-choices(href='/coffee') Coffee
