extends layout

block content

  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      
    

  h4 Asset Investment Platform
  h3 powered by Sentiment Analysis

  img(src="graph.png")

  
  div.wrapper
    h1.home-subtitle Be Smarter with Money

    p.p-select Select commodity to invest in
    
    div.dropdown
      a.btn.btn-secondary.dropdown-toggle#dropdownMenuButton.select-commodity(type="button" data-toggle="dropdown") Select 
        b.caret
      ul.dropdown-menu
        li: a.dropdown-item.select-commodity-choices(href='/coffee') Coffee
        
            
    