extends layout

block content

html
  head
    
  body
    input(type='button', value='Render JSON', id='Render JSON', onclick='return getNews();')
    br
    table#jsonTable(style='visibility:hidden')
      thead
        tr
          th Recent News

script(src='/scripts/articles.js')