extends layout

block content

    nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid



    h4 Next Generation
    h3 Scientific Asset Management

    #chartdiv.full
    script(src='/scripts/sentimentChart.js')
