extends layout

block content

    div.container-fluid
    div.btn-group
      a.btn.btn-primary.btn-lg(href="../") Home
      a.btn.btn-primary.btn-lg(href="./") Coffee
    h3 Asset Investment Platform <i>powered by</i> Sentiment Analysis

    #chartdiv.full
    script(src='/scripts/sentimentChart.js')
