extends layout

block content

    nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid



    h4 Next Generation
    h3 Scientific Asset Management
    input#export(type='button', value='Export This Chart')
    i.fas.fa-info-circle
    br

    #mapdiv.left
    #chartdiv.right
    script(src='/scripts/chartBuilder.js')
