extends layout

block content

  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      
    

  h4 next generation
  h3 Asset Investment Platform

  img(src="graph.png")
  
  div.wrapper
    h1.home-subtitle Coffee

    div.card-action
      div.card-body
        h3.card-title World Map
        p.card-text [Supporting text that explains what the world map is (to be edited)]
        a.btn.btn-secondary(href="/coffee/worldmap") View
    
    div.space
    
    div.card-action
      div.card-body
        h3.card-title Articles
        p.card-text [Supporting text that explains what the articles are (to be edited)]
        a.btn.btn-secondary(href="/coffee/articles") View

    div.space

    div.card-action
      div.card-body
        h3.card-title Sentiment Analysis
        p.card-text [Supporting text that explains what sentiment analysis is (to be edited)]
        a.btn.btn-secondary(href="/coffee/sentimentanalysis") View

   
        
            
    

