extends layout

block content

  

  
  h3 next generation
  h2 Asset Investment Platform

  img(src="graph.png")

  h1 Be Smarter with Money

  p Choose Commodity to invest in
  

  

  div(class="dropdown")
        a(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ) Select 
          b.caret
        ul.dropdown-menu
          li: a(class="dropdown-item" href='/coffee') Coffee
          
  

