extends layout

block content

    nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid



    h4 Next Generation
    h3 Scientific Asset Management
    a(href='/coffee/worldmap/download') Export This Chart
    br

    #mapdiv.left
    #chartdiv.right
    script(src='/scripts/chartBuilder.js')
