extends layout

block content

    nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid



    h4 next generation
    h3 Scientific Asset Management

    #mapdiv.split.left
    #chartdiv.split.right
    script(src='/scripts/chartBuilder.js')
